/* css du footer */
footer {
    margin-top: auto;         
    background-color: #f5e6e8;
    color: #5a3e36;
    text-align: center;
    padding: 3px;
    border-top: 2px solid #d8b6b6;
    font-size: 14px;
    font-family: Arial, sans-serif;
}
