/* Style du header */
.header {
    flex-shrink: 0;            /* ← IMPORTANT */
    background-color: #f5e6e8;
    color: #5a3e36;
    text-align: center;
    padding: 10px 0;
    border-bottom: 2px solid #d8b6b6;
}


.header h1 {
    margin: 0;
    font-size: 36px;
    font-family: Arial, sans-serif;
}

.header nav {
    margin-top: 10px;
}

.header nav a {
    color: #5a3e36; /* beige foncé */
    text-decoration: none;
    margin: 0 15px; /* espace entre les liens */
    font-weight: bold;
    font-size: 16px;
}

.header nav a:hover {
    color: #c79aa3; /* rose foncé au survol */
    text-decoration: underline;
}

.header hr {
    margin-top: 15px;
    border: 0;
    border-top: 2px solid #d8b6b6;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.contenu {
    flex: 1;   
}

.header nav a {
    position: relative;
}

.header nav a::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--rose-fonce);
    transition: width 0.3s ease;
}

.header nav a:hover::after {
    width: 100%;
}
