.form-actions {
    display: flex;
    gap: 300px;          /* espace entre les boutons */
    margin-top: 20px;
}

.form-actions button {
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
}

/* optionnel : styles */
.btn-primary {
    background-color: #007bff;
    color: white;
    border: none;
}

.btn-secondary {
    background-color: #ccc;
    border: none;
}
